.footer {
  background-color: #f0f2ff;
  min-height: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px 25px 22px;
  box-sizing: border-box;
}

/* Left side */
.footer-left h1 {
  color: #123263;
  font-size: 16px;
  margin: 0 0 12px;
  font-weight: 700;
}

.footer-left p {
  color: #555;
  font-size: 11px;
  line-height: 1.4;
  margin: 0;
}


.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links a {
  color: #555;
  text-decoration: none;
  font-size: 11px;
}

.footer-links a:hover {
  color: #123263;
}

